body{
    width:100%vw;
    height: 90%vh;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    background-color:rgb(0, 0, 0);
    margin: 0 auto;
    //color:white;
    color:grey;
}

.bits0 {
    color: rgb(45, 145, 45);
    margin: 3px;
}

.bits1 {
    color: rgb(145, 145, 245);
    margin: 3px;
}

.bits2 {
    color: rgb(234, 209, 56);
    margin:8px;
}

.bits3 {
    color : rgb(204,89,156);
    margin:8px;
}

.bits4 {
    color: rgb(245, 205, 245);
    margin: 3px;
}

.bits5 {
    display: inline;
    color: rgb(234, 189, 56);
    margin:8px;
}

.bits6 {
    color: rgb(5, 15, 115);
    margin: 3px;
}

.bits7 {
    color: rgb(115, 14, 24);
    margin: 3px;
}

.bits7 {
    color: rgb(34, 219, 56);
    margin: 8px;
}

.bits8 {
    color: rgb(204, 89, 156);
    margin: 8px;
}

.bits9 {
    color: rgb(245, 245, 145);
    margin: 3px;
}

.bits10 {
    display: inline;
    color: rgb(234, 119, 56);
    margin: 8px;
}

.div-container{
    width: 100%;
    height: auto;
}

.title {
    width:920px;
    margin:0 auto;
}
.title span{
    color:white;
    display: inline-block;
    width:20px;
    font-size:1.1em;
    //background-color:rgb(93, 198, 210) ;
    border: 1px solid grey;
    border-radius: 50%;
    padding:10px;
    text-align: center;
    font-weight:bold;
    text-shadow: 5px;
}

.code {
    position: absolute;
    width:480px;
    height:320px;
    top:15%;
    left:35%;
    //border:2px solid red;
    background-color: black;
    color:rgb(255, 69, 0);
    //background-image: url('./triangle_pascale.png');
}

.title span:hover{
    font-size:1.3em;
    color:green;
    background-color: white;
    border:1px solid rgb(93, 198, 210);
}

.titre-video{
    position: absolute;
    text-align:center;
}

.equation {
    width:100%;
    height:inherit;
    margin-top:25px;
    margin-left: 23px;
}

.equation span{
    display:inline-block;
    width:100%;
    height:inherit;
    font-weight: bold;
    font-size: 1.7em;
    //border:1px solid red;
}

.left, .middle, .right {
    width:35%;
    display:inline-block;
    //border: 1px solid green;
}

.left span{
    margin:26px;
}

.middle {
    width:400px;
    display:inline-block;
}




.right span{
    position:relative;
    margin-right:-8%;
    margin-bottom:25px;
}

.code div {
    width:100%;
    height:auto;
    margin:0;
    color:white;
    padding:5px;
    font-weight:bold;
}

#marque_id {
    margin:0;
    padding:5px;
    display:block;
    width:95%;
    height:auto;
    border:1px solid green;
}

.ulClass {
    width:100%;
    height: 30px;;
    margin:0;
    padding:5px;
    //border:1px solid red;
}

.image-container img {
   -webkit-filter: saturate(8);
   filter: saturate(100);
}

.python {
   width: 50%;
   position: absolute;
   top: 95%;
    left:28%;
   text-align: center;
   font-size:1.1em;
}

.math-domain {
    border: 1px solid green;
    color: green;
}
